 <footer>
  <div class="row spacy">
    <div class="large-6 column">
      <h4>About us</h4>
      <p>amio.io was founded in 2014 by @fifiant from Lille, France.</p>
    </div>
    <div class="large-4 column">
      <h4>Contact</h4>
      <div class="row">
        <div class="small-3 column text">
          <h6>Phone:</h6>
        </div>
        <div class="small-9 column text">
          <p>+33 (3) xxxxx</p>
        </div>
      </div>
      <div class="row">
        <div class="small-3 column text">
          <h6>Email:</h6>
        </div>
        <div class="small-9 column text">
          <p><a href="mailto:fifiant@gmail.com">fifiant@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 column">
      <hr>
    </div>
  </div>
  <div class="row">
    <p class="small-12 large-4 large-uncentered column copyright">Made with ♥ Lille.<br>Copyright © 2013 - amio.io</p>
    <p class="small-12 large-8 column social">               Copyright(c) 2014 - @fifiant<br/>               
               By using this website, you signify your acceptance of Terms and Conditions and Privacy Policy<br/>
               All rights reserved</p>
  </div>
</footer>
