{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block main %}
<br/><br/><br/><br/><br/>
<div class="container theme-showcase maintext">
	  <div class="page-header" id="articles">
        <h1><b>Generate Vagrant Configuration file</b></h1>
    </div>
<div align="center">
</div>
<p> <h2><b>Basic machine:</b></h2> </p>

<div align="center">
	<pre style="margin: 0; line-height: 150%">
		{% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
		<form id="basic" action="/generate" method="POST">
			<table>
				<tr>
					<td>Virtualbox name</td>
					<td>: <input type="text" name=name size=30 value="{{ request.form.name }}"></input></td>
				</tr>
				<tr>
					<td>Host name</td>
					<td>: <input type="text" name="hostname" size=30 value="{{ request.form.hostname }}"></input></td>
				</tr>
				<tr>
					<td>IP adress</td>
					<td>: <input type="text" name="ipadress" size=30 value="{{ request.form.ipadress }}"></input></td>
				</tr>
				<tr>
					<td>Mac Adress</td>
					<td>: <input type="text" name="macadress" size=30 value="{{ request.form.macadress }}"></input></td>
				</tr>
				<tr>
					<td>Memory</td>
					<td>: <input type="text" name="memory" size=30 value="{{ request.form.memory }}"></input></td>
				</tr>
				<tr>
					<td>CPU</td>
					<td>: <input type="text" name="cpu" size=30 value="{{ request.form.cpu }}"></input></td>
				</tr>
				<tr>
					<td>Number of intances</td>
					<td>: <input type="text" name="intance" size=30 value="{{ request.form.instance }}"></input></td>					
				</tr>				
				<tr>	
					<td clospan="2"><input type="submit" value="generate"/> <input type="hidden" name ="form" value="form1"></td>
				</tr>
			</table>
    	</form>
	</pre> 
</div>
<p> <h2><b>Open Stack machines:</b></h2> </p>
<div align="center">
	<pre style="margin: 0; line-height: 150%">
		{% if error1 %}<div class=error><strong>Error:</strong> {{ error1 }}</div>{% endif %}
		<form id="openstack" action="/generate" method="POST">
			<table>
				<tr>
					<th colspan="2" align="right"> <h4>Controller setting</h4> <input type="checkbox" name="contdef" value="coontdef" checked> Default</th>
					<th colspan="2" align="right"> <h4>Compute setting</h4> <input type="checkbox" name="compdef" value="cdef" checked> Default</th>
				</tr>
				<tr>
					<td>Virtualbox name</td>
					<td>: <input type="text" name=name size=30 value="{{ request.form.name }}"></input></td>
					<td>&nbsp; Virtualbox name</td>
					<td>: <input type="text" name=name size=30 value="{{ request.form.name1 }}"></input></td>
				</tr>
				<tr>
					<td>Host name</td>
					<td>: <input type="text" name="hostname" size=30 value="{{ request.form.hostname }}"></input></td>
					<td>&nbsp; Host name</td>
					<td>: <input type="text" name="hostname1" size=30 value="{{ request.form.hostname1 }}"></input></td>					
				</tr>
				<tr>
					<td>IP adress</td>
					<td>: <input type="text" name="ipadress" size=30 value="{{ request.form.ipadress }}"></input></td>
					<td>&nbsp; IP adress</td>
					<td>: <input type=text name="ipadress1" size=30 value="{{ request.form.ipadress1 }}"></input></td>					
				</tr>
				<tr>
					<td>Mac Adress</td>
					<td>: <input type="text" name="macadress" size=30 value="{{ request.form.macadress }}"></input></td>
					<td>&nbsp; Mac Adress</td>
					<td>: <input type="text" name="macadress1" size=30 value="{{ request.form.macadress1 }}"></input></td>					
				</tr>
				<tr>
					<td>Memory</td>
					<td>: <input type="text" name="memory" size=30 value="{{ request.form.memory1 }}"></input></td>
					<td>&nbsp; Memory</td>
					<td>: <input type=text name="memory1" size=30 value="{{ request.form.memory1 }}"></input></td>					
				</tr>
				<tr>
					<td>CPU</td>
					<td>: <input type="text" name="cpu" size=30 value="{{ request.form.cpu }}"></input></td>
					<td>&nbsp; CPU</td>
					<td>: <input type="text" name="cpu1" size=30 value="{{ request.form.cpu1 }}"></input></td>					
				</tr>
				<tr>
					<td>Number of intances</td>
					<td>: <input type="text" name="intance" size=30 value="{{ request.form.instance }}"></input></td>
					<td>&nbsp; Number of intances</td>
					<td>: <input type="text" name="intance1" size=30 value="{{ request.form.intance1 }}"></input></td>					
				</tr>
				<tr>	
					<td clospan="4" align="center"><input type="submit" value="generate"/> <input type="hidden" name ="form" value="form2"></td>
				</tr>
			</table>
    	</form>
	</pre> 
	<br/><br/><br/>
</div>
{% endblock %}